.ul-element{
    display: flex;
}
/* .header-main{
    background-color: lightgreen;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
} */

.header-main{
    background-color: lightgreen;
    padding: 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-wraper{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: lightgreen;
}

.wraper:hover{
    background-color: aqua;
}

.box{
    width: 100%;
    position: fixed;
    transition: all 4s;
}

.box:hover{
    width: 250px;
    background-color: blueviolet;
}

