.block {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    padding-top: 25px;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

.box {
    width: 310px;
    height: 430px;
    border: 2px solid black;
}

.row1 {
    display: flex;
    width: 1336px;
    height: 908px;
    margin: 0 auto;
    background-color: lightskyblue;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

