.link {
    color: #128410;
    font-size: 20px;
}
.active {
    color: #F50808;
}
.car-des {
    color: #20FF0D;
    font-size: 24px;
}
.about-us {
    color: #821095;
    font-size: 36px;
}
.about-us-des {
    color: #D41EF2;
    font-size: 24px;
}